language: php

php:
    - 7.2
    - 7.3
    - 7.4

before_script:
    - composer install

script:
    - vendor/bin/phpunit --coverage-clover ./build/logs/clover.xml

after_success:
    - php vendor/bin/php-coveralls -v
